.content {
  padding: 100px 20px;
  text-align: center;
  font-family: RubikMedium;
  h2 {
    margin-bottom: 20px;
  }
}
.custom-file,
.input-group {
  margin: 10px auto;
}
.btn-danger {
  height: 50px;
}
.loadbtn {
  padding-left: 20px;
  padding-right: 20px;
}
.successloaded {
  padding: 50px;
  margin: auto;
}
